---
interface Props {
	title: string;
	body: string;
	href: string;
	image: string;
}

const { image, href, title, body } = Astro.props;
---

<div class="link-card">

	<div class="card bg-base-100 shadow-xl">
		<figure><img src={image} alt={title} /></figure>
		<div class="card-body">
			<h2 class="card-title">{title}</h2>
			<div class="prose">{body}</div>
			<div class="card-actions justify-end">
				<a href={href} class="btn btn-primary">View</a>
			</div>
		</div>
	</div>

</div>
