---
import { getCollection } from "astro:content";
const articleEntries = await getCollection("articles");

const codeEntries = await Astro.glob("./../pages/codes/*.astro");
---

<ul>
  {
    articleEntries.map((article) => (
      <li>
        <a href={`/learning/articles/${article.slug}`}>{article.data.title}</a>
        <h2>You might also like:</h2>
        {article.data.tags.map((p) => (
          <div>{p}</div>
        ))}
      </li>
    ))
  }
</ul>

<ul>
  {
    codeEntries.map((article) => (
      <li>
        <a href={`${article.url}`}>{article.metadata.title}</a>
        <h2>You might also like:</h2>
        {article.metadata.tags.map((p) => (
          <div>{p}</div>
        ))}
      </li>
    ))
  }
</ul>

