---
import Layout from "@layouts/Layout.astro";
import Card from "@components/site/Card.astro";
import Container from "@components/site/Container.astro";

const allPosts = await Astro.glob("../content/codes/*.mdx");
---

<Layout title="Code">
  <main>
    <Container
      class=""
      isMain={true}
      htmlAttributes={{ id: "main" }}
    >
      <ul class="grid grid-cols-3 gap-10">
        {
          allPosts.map((post) => (
            <li class="col-span-1">
              <Card
								image={post.frontmatter.image}
                href={`codes/${post.frontmatter.slug}`}
                title={post.frontmatter.title}
                body={post.frontmatter.description}
              />
            </li>
          ))
        }
      </ul>
    </Container>
  </main>
</Layout>
