---
import Layout from "@layouts/Layout.astro";
import CardEntry from "@components/ui/CardEntry.astro";
import HeroTag from "@components/site/HeroTag.astro";

import { generateTagsData, getUniquesTags } from "@utils/utils";

import { getCollection } from "astro:content";


export async function getStaticPaths() {
  const allArticles = await getCollection("articles");
  const allTagsUnique = getUniquesTags(allArticles);
  const allTagsData = generateTagsData(allTagsUnique);

  return allTagsData.map((tag) => {
    const articlesFiltered = allArticles.filter((post) => post.data.tags.includes(tag.name));

    allArticles.map((article) => {
      Object.assign(article.data, { allTags: generateTagsData(article.data.tags) });
    });

    return {
      params: { slug: tag.slug },
      props: {
        tag: tag.name,
        articles: articlesFiltered,
      },
    };
  });
}

const { tag, articles } = Astro.props;
const title = `Blog Posts Tagged with ${tag}`;
---

<Layout title={title}>

  <HeroTag title={tag} />

  <ul class="grid gap-4 grid-cols-4">
    {
      articles.map((article) => (
        <li>
          <CardEntry entry={article.data} slug={article.slug} />
        </li>
      ))
    }
  </ul>
</Layout>
