---
import TagsList from "@components/ui/TagsList.astro";

const { entry, slug } = Astro.props;

const url = `/learning/articles/${slug}`;
const titleId = `cardentry-title-${slug}`;
---

<div class="border-border border-solid border-2 rounded p-4 relative z-[1]">
  <a href={url} class="absolute z-[-1] inset-0 block" aria-labelledby={titleId}></a>
  <p class="text-2xl text-heading font-bold mb-3" id={titleId}>{entry.title}</p>
  <TagsList items={entry.allTags} />
</div>

<style>
  div * {
    pointer-events: none;
  }
  div a {
    pointer-events: auto;
  }
</style>
